In [3]:
6+88

94

In [ ]:
year=int(input("enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
            print("Hello World")
    else:
        print(year)

In [ ]:
age < 16
 print

In [2]:
print("hello word")

hello word

In [1]:
##single line syntax
print("hello mom")

hello mom

In [5]:

 ##line continuation 
total=1+5+5+7+9+\
3+6+9+8
print("total")

total

In [38]:

age=45
name="ibile"
print("age")

age

In [12]:
total=1+3+45+\
6+9+7
print("total")

total

In [14]:
age=45
name="olanxy"

In [15]:
h=45; y=59
total=x=h+y
print(total)

104

In [20]:
variable="olanxy"
print(type(variable))
variable=56
print(type(variable))

<class 'str'>
<class 'int'>

In [40]:
age=45

if age<43:
    print("you good")

In [23]:
a=7
print(a)

7

In [38]:
age=6
height=6.3
name="olanxy"
is_student="true"
print("age:",age) 
print("height:",height)
print("name:",name)

age: 6
height: 6.3
name: olanxy

name="9"
Name="ola"
name=Name

age=76.2
print(age)

In [41]:
age=45.5
print(age,type(age))

45.5 <class 'float'>

In [4]:
first_name="ola"
last_name="ibile"

In [7]:
name="ola"
Name="ibile"

In [14]:
age=5.5
float(int(age))

5.0

In [15]:
var=67
print(var,type(var))

67 <class 'int'>

In [16]:
ade=56
print(ade,type(ade))

56 <class 'int'>

In [18]:
age=input("what is age")
print(age)
print(type(age))

54
<class 'str'>

In [21]:
a=5
b=10
add_result=a+b
Mult_result=a*b
sub_result=a-b
div_result=a/b
floor_div_result=a//b
modulos_result=a%b
print(add_result,type(add_result))

15 <class 'int'>

In [23]:
a=7
b=5
a==b

False

In [ ]:
age < 56
if age<=46:
    print("youre allowed")
    else

In [25]:
age=20
if age<13:
    print("okay")

In [46]:
year=int(input(365))
if year<365:
    print(True)

True

In [6]:
year=int(input("enter a leap year"))
if year%4==0:
    if year%400==0:
        print(year,"is a leap")
    else:print(year,"is a leap")
else:print(year,"is not a leap")

2024 is a leap

In [20]:
year=int(input("enter a leap year"))
if year%4==0:
    if year%400==0:
        print(year,"is a leap")
    else:print(year,"is a leap")
else:print(year,"is not a leap")

2023 is not a leap

year=i

In [37]:
age=int(input("enter your age:"))
is_student=input("are you a student? (yes/no):")

##determining the price of ticket
if age < 5:
    price = "free"
elif age<= 12:
    price = "$10"
elif age <=17:
    if is_student =='yes':
        price = "$12"
    else:
        price = "15"
elif age <=64:
    if is_student == "yes":
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"
    print("ticket price:",price)

In [29]:
year = int(input("enter the year:"))
if year%4==0:
    if year%400==0:
        print(year," is a leap")
    else:
        print(year,"is a leap")
else:print(year," is not a leap")

2121  is not a leap

In [30]:
range (5)

range(0, 5)

In [36]:
for i in range (1,6,3):
    print(i)

1
4

In [ ]:
age